#shell{
  font-family: 'Montserrat', sans-serif;
  color: #1e1e1e;
}

#nav{
  background-color: #44a5ff;
  color: #544f53;
  font-size: 20px;
  position: sticky;
position: -webkit-sticky;
z-index: 1;
top: 0;
}

#homepage {
  background-color: #44a5ff;
  color: #ffffff;
}

#name{
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  color: #1e1e1e;
  text-decoration: none;
  width: 100%;
  font-family: 'Montserrat', sans-serif;

}

#pagelinks{
  font-family: 'Montserrat', sans-serif;
  color: black;
}

#pagetitle {
  color: #1e1e1e;
  text-decoration: none;
}

#title{
text-align: center;
vertical-align: middle;
}

#indexcarousel{
  text-align: center;
  vertical-align: middle;
  font-size:40px;
  line-height: 500px;
  width: 100%;
  padding-right: 0px;
}


/*.carousel-item {
  width: 100%;
  height: 100%;
}*/

.featurediv {
  height: 100vh;
  border-bottom: 1px #44a5ff solid;
}

.contactdiv {
  height: 50vh;
  border-bottom: 1px #44a5ff solid;
}

#contact .desc p {
  text-align: center;
}

p, form {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20%;
  margin-left:10%;
  margin-right: 10%;
}

h1 {
  margin-top: 20%;
  margin-left:10%;
  margin-right: 10%;
  text-align: center;
  padding-top: 10%;
}

a:link, a:visited, a:hover {
  color: #cde0ff;
  text-decoration: none;
}

#designerlist{
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left:10%;
  margin-right: 10%;
}

#icon{
  width: 25%;
}

img, embed {
  padding-bottom: 10px;
}

.mediacontent {
  margin-top: 10%;
  vertical-align: middle;
  height: 100vh;
  text-align: center;
  font-size: 20px;
}

#contact {
  text-align: center;
}

.slick-carousel {
  vertical-align: middle;
  text-align: center;
}



.slick-prev:before, .slick-next:before {
  background: #44a5ff;
}


